<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css" />
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
	<title>Editando</title>
</head>
<body>
	<header class="_header">
		<h1>Editando a tarefa <%= todo.id %> </h1>
	</header>
	<main class="_main">
		<form action="/edit/<%= todo.id %>" method="post" class="_form">
			<input type="text" name="task" id="task" value="<%= todo.task %>" placeholder="Ex.: Programar, Ler livros, etc.">
			<button type="submit" id="btn">Editar</button>
		</form>
	</main>
</body>
</html>